@import "tailwindcss";

@theme {
  --color-background: #0d0d0d;
  --color-foreground: #f4f4f4;
  --color-muted: #888888;
  --color-border: #222222;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-inter), sans-serif;
  }
  
  ::selection {
    background-color: #ffffff;
    color: #000000;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
